<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">

	<link rel="stylesheet" type="text/css" href="/css/normalize.css">
	<link rel="stylesheet" type="text/css" href="/css/style.css">

	<title><%= item.name %></title>

	<script type="text/javascript">var eventid = '<%= item._id %>'</script>
	<script type="text/javascript" src="/js/event.js"></script>
</head>
<body>
	<section id="topbtn">
		<button id="increment" name="up"></button>
	</section>
	<section id="label">
		<p id="count"><%= item.count %></p>
	</section>
	<section id="botbtn">
		<button id="decrement" name="down"></button>
	</section>
</body>
</html>