<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">

	<link rel="stylesheet" type="text/css" href="/css/style.css">

	<title><%= item.name %></title>

	<script type="text/javascript">var eventid = '<%= item._id %>'</script>
	<script type="text/javascript" src="/js/event.js"></script>
</head>
<body>
	<button id="increment" name="up">Up</button>
	<p id="count"><%= item.count %></p>
	<button id="decrement" name="down">Down</button>
</body>
</html>