<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />

	<link rel="stylesheet" type="text/css" href="/css/normalize.css">
	<link rel="stylesheet" type="text/css" href="/css/style.css">

	<title>ClickityClack</title>

	<script type="text/javascript" src="/js/script.js"></script>
</head>
<body>
	<section id="index">
		<input id="numberfield" type="text" required placeholder="">
		<label for="numberfield">Upper limit.</label><br>
		<input id="namefield" type="text" required placeholder="" value="">
		<label for="numberfield">What's the name of your event?</label>
		<p id ="maintext">When you've filled these in, hit enter to get started!</p>
	</section>
</body>
</html>