<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">

	<link rel="stylesheet" type="text/css" href="/css/style.css">

	<title>ClickityClack</title>

	<script type="text/javascript" src="/js/script.js"></script>
</head>
<body>
	<input id="numberfield" type="number" placeholder="Maximum allowed"><br>
	<input id="namefield" type="text" placeholder="Event name">
	<p>Hit enter to get started!</p>
</body>
</html>