@import url(https://fonts.googleapis.com/css?family=Roboto:100,300,700|Roboto+Condensed:700,300);

body {
	font-family: 'Roboto', 'Roboto Condensed';
	font-size: 20px;
	text-align: center;
}

section#index {
	height: 100vh;
}
#index input:first-child {
	margin-top: 30vh;
}
#index input {
	font-size: 1.5em;
	font-family: 'Roboto';
	font-weight: 100;
	text-align: center;

	margin: 20px auto 5px;

	outline: none;
	border: none;
	border-bottom: 1px solid #999;

	position: relative;

	transition: all 0.15s;
}
#numberfield {
	width: 5em;
}
#index input:focus {
	border-bottom: 1px solid #66F;

	transition: all 0.15s;
}
#index input.invalid {
	border-bottom: 1px solid #F66;

	transition: all 0.15s;
}
#index input.invalid + label {
	color: #F66;;
}
#index label {
	display: block;

	font-size: 0.75em;
	margin: 0;

	transition: all 0.15s;
}

p#count {
	font-family: 'Roboto Condensed';
}