@import url(https://fonts.googleapis.com/css?family=Roboto:100,300,700|Roboto+Condensed:700,300);

body {
	font-family: 'Roboto', 'Roboto Condensed';
	font-size: 40px;
	text-align: center;
}

/* INDEX PAGE */

section#index {
	height: 100vh;
}
#index input:first-child {
	margin-top: 15vh;
}
#index input {
	font-size: 1.5em;
	font-family: 'Roboto';
	font-weight: 100;
	text-align: center;

	margin: 20px auto 5px;

	outline: none;
	border: none;
	border-bottom: 2px solid #111;

	position: relative;

	transition: all 0.15s;
}
#numberfield {
	width: 5em;
}
#index input:focus {
	border-bottom: 2px solid #66F;

	transition: all 0.15s;
}
#index input.invalid {
	border-bottom: 2px solid #F66;

	transition: all 0.15s;
}
#index input.invalid + label {
	color: #F66;;
}
#index label {
	display: block;

	font-size: 0.75em;
	margin: 0;

	transition: all 0.15s;
}
p#maintext {
	margin-top: 10vh;
}

/* EVENT PAGE */

section#topbtn, section#botbtn {
	height: 40vh;
	position: relative;
}
#increment, #decrement {
	display: block;
	position: absolute;
	height: 20vh;
	width: 100%;
	outline: none;
	border: none;
	background: none;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}
#increment:disabled, #decrement:disabled {
	opacity: 0.25;
	-webkit-filter: grayscale(100%);
	        filter: grayscale(100%);
}
#increment {
	margin-top: 30vh;
	bottom: 0;
	background-image: url('../resources/increment.svg');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
}
#decrement {
	margin-bottom: 10vh;
	top: 0;
	background-image: url('../resources/decrement.svg');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
}

section#label {
	height: 20vh;
	line-height: 20vh;
	vertical-align: middle;
}

p#count {
	/*font-family: 'Roboto Condensed';*/
	font-weight: 100;
	font-size: 12.5vh;
	margin: 0;
	cursor: pointer;

	position: relative;
	top: 0px;
}

table {
	margin: .5em auto;
	text-align: left;
	border-collapse: separate;
	border-spacing: 20px;
}

tr {
	margin: 50px auto;
}
td:nth-child(1), th:nth-child(1) {
	text-align: right;		
}

th {
	padding: 0 25px;
	font-weight: 500;
}
td {
	padding: 0 25px;
}
