@import url(https://fonts.googleapis.com/css?family=Roboto:100,300,700|Roboto+Condensed:700,300);

body {
	font-family: 'Roboto', 'Roboto Condensed';
	font-size: 20px;
	text-align: center;
}

/* INDEX PAGE */

section#index {
	height: 100vh;
}
#index input:first-child {
	margin-top: 30vh;
}
#index input {
	font-size: 1.5em;
	font-family: 'Roboto';
	font-weight: 100;
	text-align: center;

	margin: 20px auto 5px;

	outline: none;
	border: none;
	border-bottom: 1px solid #999;

	position: relative;

	transition: all 0.15s;
}
#numberfield {
	width: 5em;
}
#index input:focus {
	border-bottom: 1px solid #66F;

	transition: all 0.15s;
}
#index input.invalid {
	border-bottom: 1px solid #F66;

	transition: all 0.15s;
}
#index input.invalid + label {
	color: #F66;;
}
#index label {
	display: block;

	font-size: 0.75em;
	margin: 0;

	transition: all 0.15s;
}

/* EVENT PAGE */

section#topbtn, section#botbtn {
	height: 30vh;
	position: relative;
}
#increment, #decrement {
	display: block;
	position: absolute;
	height: 30vh;
	width: 100%;
	outline: none;
	border: none;
	background: none;
}
#increment {
	bottom: 0;
	background-image: url('../resources/increment.svg');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
}
#decrement {
	top: 0;
	background-image: url('../resources/decrement.svg');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
}

section#label {
	height: 40vh;
	line-height: 40vh;
	vertical-align: middle;
}

p#count {
	font-family: 'Roboto Condensed';
	font-size: 6em;
	margin: 0;
	cursor: default;
}